/* Reset & layout */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */




.content-wrapper {
   padding-top: 7rem; 
  
}
html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #e8ecef;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #000000;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.map-wrapper {
  z-index: 1;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-top: 100px;
}

footer {
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  text-align: center;
}

.leaflet-control-geocoder-form input {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc;
  font-weight: bold;
}

.leaflet-control-geocoder-icon {
  filter: invert(0); 
}

.report-form-wrapper {
  border: 2px dashed red;
  padding: 24px;
  background-color: #f0f0f0;
  max-width: 600px;
  margin: 0 auto;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #e5e7eb; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #72C69E; 
  border-radius: 10px;
  border: 2px solid #e5e7eb; 
}

::-webkit-scrollbar-thumb:hover {
  background: #5da786; 
}



* {
  scrollbar-width: thin; 
  scrollbar-color: #72C69E #e5e7eb; 
}

